.container{
    padding: 2rem;
    border: 2px solid black;
    min-width: 40rem;
    border-radius: 5px;
}

.container-into{
    position: relative;
    justify-content: start;
    display: flex;
    width: 100%;
    margin-bottom: 4rem;
}

.title{
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 1.4rem;
}

.container-into input{
    width: 95%;
    padding: 1.3rem 2rem;
    outline: none;
    border-radius: 5px;
}

.container-into button{
    border-radius: 50%;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: -1px;
    font-size: 2rem;
    background-color: rgb(149, 149, 149);
    border: none;
}

.map{
    position: relative;
}

.map p{
    width: 100%;
    padding: 1.3rem 2rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 1rem;
    font-size: 2rem;
    max-height: 45px;
    display: flex;
    align-items: center;
}

.map i{
    font-size: 3rem;
}

.check{
    color: green;
    position: absolute;
    right: 5rem;
}

.error{
    color: red;
    position: absolute;
    right: 1rem;
}